[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "android_system_core"]
	path = android_system_core
	url = https://github.com/CyanogenMod/android_system_core.git
